### Visual Studio Code ###
.vscode/*
.history

### DB ###
*.db
uploads/*.png

### Environment Variables ###
*.env
nodemon.json

### Logs ###
*.log
npm-debug.log*

### Dependencies ###
node_modules/
jspm_packages/


