.app {
  /* text-align: center; */
}

.app-logo {
  height: 80px;
  font-size: 65px;
  transform-origin: 50% 0;  
  transform: rotate(20deg);
  background-clip: content-box;
}

.app-logo:hover {
  transition-timing-function: linear;
  animation: app-logo-swing infinite .3s linear;
  -webkit-animation-iteration-count: 2;
  animation-iteration-count: 2;
}

.app-header {
  text-align: center;  
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.app-title {
  font-size: 1.5em;
}

.app-sidebar {
}

@keyframes app-logo-swing {
  16.65% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  33.3% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  49.95% {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  66.6% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  83.25% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  100% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
}